<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/04b6b15873.js" crossorigin="anonymous"></script>

    <title>iMusic</title>

    <link href="/public/assets/index.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-2">
                <a href="/users/dashboard"><i class="fas fa-home"></i> Home</a>
                <% if(userRole != 1){ %>
                <a href="/users/actualizar" style="color: white;"><i class="far fa-user"></i> Soy artista</a>
                <% } else{ %>
                <a href="/users/artista" style="color: white;"><i class="far fa-user"></i> Soy artista</a>
                <% } %>
                <p>PLAYLISTS</p>
                <a href="/users/playlist"><i class="fas fa-plus"></i> New playlist</a>
            </div>
            <div class="main col-10">
                <div class="row">
                    <div class="col-6">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Buscar por..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="premium-button col-6">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal"><i
                                class="far fa-user"></i></a>

                        <% if(subscription != 1) { %>
                        <button>
                            <a href="/users/premium">PREMIUM</a>
                        </button>
                        <% } %>

                    </div>
                </div>
                <div class="row">
                    <div class="add-section col-12">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="music-player col-12">
                <div class="col-4"></div>
                <div class="col-4">
                    <p><i class="fas fa-step-backward"></i></p>
                    <p><i class="far fa-play-circle"></i></p>
                    <p><i class="fas fa-step-forward"></i></p>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="music-progress col-12">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                        aria-valuemax="100" style="width:70%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="trackModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-show="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="title col-12">
                            <img src="/public/assets/logo.jpg" height="40" width="40" alt="">
                            <h4>iMusic</h4>
                        </div>
                        <div class="login-to-continue col-12">
                            <p>Ingrese nuevo canción</p>
                        </div>
                        <div class="col-12">
                            <form action="/users/addtrack" method="POST">
                                <input autocomplete="off" type="text" id="nombre" name="nombre"
                                    placeholder="Nombre de la canción" autofocus autocomplete="false"><br>
                                <input type="submit" value="Crear">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <script>
        $(window).on('load', function () {
            var delayMs = 100; // delay in milliseconds

            setTimeout(function () {
                $('#trackModal').modal('show');
            }, delayMs);
        });
    </script>

</body>

</html>