@import "./variables.scss";

.modal-dialog {
    max-width: 480px !important;
    max-height: 700px;
    
    .modal-content {
        background: #1C1E21;
        // background-color: $primaryBackground;
        
        
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;

            img {
                border-radius: 20%;
                margin-left: 10px;
            }

            h4 {
                padding-left: 10px;
                margin: 0;
                color: white;
            }
        }

        .login-to-continue {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
        
            p {
                font-size: 25px;
                font-weight: bold;
                color: white;
            }
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 25px;
        
            input[type=text], input[type=email], input[type=password] {
                width: 320px;
                height: 40px;
                color: white;
                font-size: 14px;
                border-radius: 4px;
                background-color: #1C1E21 ;
                border: 1px solid #616264;
                padding-left: 10px;
        
                &:focus {
                    border: 1px solid #323C76;
                    outline: #323C76;
                }
            }
        
            input[type=submit] {
                background-color: white;
                width: 320px;
                height: 40px;
                border-radius: 30px;
            }
        } 
        
        .connect-with {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 25px;
        
            p {
                color:#737476;
            }
        
            .fab {
                color: #E3E4E4;
                font-size: 27px;
                margin: 25px;
            }
        }

        .register-title {
            p {
                padding-top: 40px;
                padding-left: 85px;
                color: white;
            }
        }
    }
}


#playlistModal {
    .modal-dialog {
        max-width: 700px !important;
        max-height: 700px;

        form {
            input[type=submit] {
                margin-top: 30px;
                margin-bottom: 70px;
            }
        }
    }
}

#premiumModal {
    .modal-dialog {
        max-width: 700px !important;
        max-height: 700px;

        form {
            input[type=submit] {
                margin-top: 30px;
                margin-bottom: 70px;
            }
        }
    }
}

#artistaModal {
    .modal-dialog {
        max-width: 700px !important;
        max-height: 700px;

        input[type=submit] {
            display: flex;
            margin: auto;
            justify-content: center;
            background-color: white;
            width: 320px;
            height: 40px;
            border-radius: 30px;
            margin-top: 30px;
            margin-bottom: 70px;
        } 
    }
}


