// $primaryBackground: #27272B;
// $secondaryBackground: #323236;

// $primaryBackground: #0F141D;
$primaryBackground: #101727;
$secondaryBackground: #0C1221;
$primaryTextColor: #747981;
$progressBackground: #3F3F4F;
