// $primaryBackground: #27272B;
// $secondaryBackground: #323236;

// $primaryBackground: #0F141D;
$primaryBackground: #101727;
$secondaryBackground: #0F141D;
$primaryTextColor: #747981;
$progressBackground: #5F656D;